<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Home File</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nemo fugit aliquam corporis mollitia atque temporibus, corrupti voluptatum laborum natus obcaecati labore id non sint. Harum natus quia voluptatum quaerat?</p>
    <button>Click me</button>
</body>
</html>